@import url('https://fonts.googleapis.com/css?family=Krona+One');
$orange: rgb(255, 85, 0);
$border-thin: 3px solid black;
$border-thick: 13px solid black;
$font-mono: monospace;
$font-display: 'Krona One', sans-serif;
$spacer-small: 20px;
$row-height: 50px;

@mixin break {
    @media (max-width: 700px) {
        @content;
    }
}

.autocomplete-suggestions {
    position: absolute;
    z-index: 9999;
    top: -1px;

    display: none;
    overflow: hidden;
    overflow-y: scroll;

    box-sizing: border-box;
    max-height: calc(#{$row-height} * 10);

    cursor: default;
    text-align: left;

    border: $border-thin;
    border-top: 0;
    background: white;
}
.autocomplete-suggestion {
    line-height: $row-height;
    line-height: $row-height;

    position: relative;

    display: flex;
    overflow: hidden;

    height: $row-height;
    padding-left: 1em;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: black;
    border-bottom: $border-thin;

    flex-shrink: 0;
    align-items: center;;
    &:last-child {
        border-bottom: none;
    }
    .profilepic {
        width: 30px;
        height: 30px;

        background-position: center center;
        background-size: cover;
    }
    .username {
        margin-left: 1em;
    }
}

.autocomplete-suggestion.selected {
    background: lightgray;
}

.check-pattern {
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-position: 0 0, 0 4px, 4px -4px, -4px 0;
    background-size: 2px 2px;
}

* {
    line-height: 1;

    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: $font-mono;
    font-size: calc(8px + .5vw);

    display: flex;

    height: 100vh;

    background-color: white;

    align-items: center;
    justify-content: center;
    @include break {
        font-size: 12px;
    }
}

main {
    display: flex;
    flex-direction: column;

    width: calc(70% + 100px);
    height: calc(100% - 4vh);

    border: $border-thin;
    background-color: white;

    @include break {
        width: 100%;
        height: 100%;
    }
}

nav {
    display: flex;

    padding: $spacer-small;

    border-bottom: $border-thick;

    flex-shrink: 0;
    @extend .check-pattern;
    @include break {
        flex-direction: column;
         > div {
            min-width: 100%;
        }
    }
}

.about {
    font-family: $font-display;
    font-size: .8em;

    margin-right: $spacer-small;
    padding: 6px 6px;

    border: $border-thin;
    background-color: white;

    @include break {
        margin-bottom: $spacer-small / 2;
    }
    h1 {
        font-size: 1.2em;
        font-weight: normal;
        line-height: 1.4;

        @include break {
            text-align: center;
            br {
                display: none;
            }
        }
    }
}

.search {
    flex-grow: 1;

    input {
        font-family: monospace;
        font-size: 1.5em;

        width: 100%;
        height: 100%;
        padding: 0 1em;

        border: $border-thin;
        border-radius: 0;
        outline: none;

        @include break {
            font-size: 1em;

            padding: 1em;
        }
    }
}

.comments {
    overflow: scroll;

    flex-grow: 1;
    &.--empty {
        padding: 1em;
        &:before {
            content: 'No comments Found :(';
        }
    }
}

$play-width: 46px;

.comment {
    font-family: $font-display;

    position: relative;

    display: flex;

    height: $row-height;

    cursor: pointer;

    border-bottom: $border-thin;

    align-items: center;
    &:last-child {
        border-bottom: none;
    }
    .play {
        line-height: $row-height;

        position: relative;

        width: $play-width;
        height: 100%;

        text-align: right;

        flex-shrink: 0;
        &:before {
            content: '💬';

            filter: brightness(0);
        }
    }
    .text {
        line-height: 1.2;

        position: relative;
        z-index: 5;

        overflow: hidden;

        min-width: 0;
        padding-left: .5em;

        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .time {
        font-family: monospace;
        font-size: 1em;

        display: none;

        margin: 0 1em;

        text-align: right;
        white-space: nowrap;

        color: gray;
    }
    &:hover {
        .play {
            color: white;
            background-color: black;
            &:before {
                padding-right: .5em;

                content: '►';

                filter: brightness(1);
            }
        }
        .time {
            display: block;
        }
    }
    &.--active .play:before {
        padding-right: .5em;

        content: '►';

        filter: brightness(1);
    }
}

.--blink {
    animation: blink .6s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.player {
    display: flex;

    height: $row-height;

    border-top: $border-thin;
    background-color: white;
    background-color: white;

    align-items: center;
    flex-shrink: 0;
    @include break {
        position: fixed;
        z-index: 100;
        bottom: 3px;

        width: calc(100% - 6px);
    }
    .controlls {
        font-size: 20px;

        display: flex;

        min-width: $row-height * 1.5;
        height: 100%;

        justify-content: center;
        align-items: center;
        &:before {
            line-height: $row-height;

            text-align: center;
        }
        .--play,
        .--pause {
            cursor: pointer;
        }
        &.--play:before {
            content: '►';
        }
        &.--pause:before {
            content: '▌▌';
            transform: scaleY(.8) translate(15%, -5%);
        }
    }
    .progress {
        position: relative;

        display: flex;

        width: 100%;
        height: 100%;

        border-right: $border-thin;
        border-left: $border-thin;

        flex-grow: 1;
        align-items: center;
        @extend .check-pattern;
        .progressBar {
            width: 100%;
            height: 100%;

            transform-origin: top right;

            background-color: white;
        }
        .time {
            font-size: 1.2em;

            position: absolute;
            &.current {
                left: 1em;
            }
            &.total {
                right: 1em;
            }
        }
    }
    .track {
        font-size: .9em;

        display: flex;
        overflow: hidden;

        width: 350px;
        height: 100%;

        text-decoration: none;

        color: currentColor;

        flex-shrink: 0;
        &[href^='https://'] {
            cursor: alias;
        }

        .cover {
            display: none;

            width: $row-height;
            height: calc(#{$row-height} - 3px);

            background-position: center center;
            background-size: cover;

            flex-shrink: 0;
        }
        .info {
            display: flex;
            flex-direction: column;

            min-width: 0;

            justify-content: center;
            div {
                overflow: hidden;

                padding-left: 1em;

                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .artist {
            color: gray;
        }
    }
}
